<section class="d-flex justify-content-center align-items-center container-fluid bg-success bg-opacity-10 min-vh-100">
  <div class="border p-5 shadow-sm mb-5 rounded-2 bg-light">
    <h2>Sign up Reviewers</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "reviewers/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :account %><br />
        <%= f.text_field :account, autofocus: true %>
      </div>

      <div class="field mb-3">
        <%= f.label :office_num %><br />
        <%= f.text_field :office_num, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mb-3">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mb-3">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, html: { class:"form-control" } %>
      </div>

      <div class="field mb-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "reviewers/shared/links" %>
  </div>
</section>