<div class="modal fade" id=<%= form%> tabindex="-1" aria-labelledby=<%= form%> aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id=<%= form%> ><%= title%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(url: path, method: :patch, local: true) do |f| %>
        <div class="modal-body">
          <div class='form-group'>
            <%field = form.to_sym%>
            <%= f.label field, 'Work Hours'%>
            <%= f.rich_text_area field %>
          </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit 'submit', class: 'btn btn-primary'%>
        </div>
      <%end%>
    </div>
  </div>
</div>