<div class="modal fade" id=<%= form%> tabindex="-1" aria-labelledby=<%= form%> aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id=<%= form%> ><%= model.class.name%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(model: model, url: path, method: :post, local: true) do |f| %>
        <div class="modal-body">
          <div class='form-group'>
            <%= f.label :work_hrs, 'Work Hours'%>
            <%= f.number_field :work_hrs, class: 'form-control'%>
          </div>
          <div class='form-group'>
            <%= f.label :work_num, 'Work Claims'%>
             <%= f.number_field :work_num, class: 'form-control'%>
          </div>
          <div class='form-group'>
            <%= f.label :date%>
            <%= f.text_field :date, class: 'form-control' %>
          </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit 'submit', class: 'btn btn-primary'%>
        </div>
      <%end%>
    </div>
  </div>
</div>