<h1>OutPut Page</h1>

<table>
  <tr>
    <th rowspan='2'>User ID</th>
    <th rowspan='2'>Name</th>
    <th colspan='2'>Regular</th>
    <th colspan='2'>OverTime</th>
    <th rowspan='2'>Remarks 1</th>
    <th rowspan='2'>Remarks 2</th>
    <th rowspan='2'>Date</th>
  </tr>

  <tr>
    <th>No. of hrs.</th>
    <th>No. of claims</th>
    <th>No. of hrs.</th>
    <th>No. of claims</th>
  </tr>

  <tbody>
  <%@outputs.each do |output|%>
    <tr>
      <td><%= output.employee.office_num%></td>
      <td><%= "Lst Name,#{output.employee.first_name}" %></td>
      <td><%= output.regular_work&.work_hrs%></td>
      <td><%= output.regular_work&.work_num%></td>
      <td><%= output.overtime_work&.work_hrs%></td>
      <td><%= output.overtime_work&.work_num%></td>
      <td><%= output.remarks_one%></td>
      <td><%= output.remarks_two%></td>
      <td><%= output.date%></td>
    </tr>
  <%end%>
  </tbody>
</table>
