<%# ============== Page Alerts ================== %>
<% flash.each do |type, msg| %>
  <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      <%= msg.is_a?(Array) ? msg.first : msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
<section class = 'pt-5 container-fluid bg-success bg-opacity-10 min-vh-100'>
  <div class='container-fluid mt-5 position-relative top-0 d-flex'>
    <%= render partial: 'layouts/partials/date_period', locals: { path: outputs_path }%>
    <form action="<%= outputs_path(format: :xlsx)%>">
      <button type='submit' class='btn btn-primary' method='get'>Export</button>
    </form>
    
  </div>
  <div class='container-fluid p-3 table-responsive'>
    <h1 class='mb-3'>OutPut List</h1>
      <% if employee_signed_in?%>
      <div class= 'align-items-center'>
        <button class='btn btn-primary' data: data-bs-toggle= 'modal' data-bs-target= '#regular_form'>Create Regular</button>
        <button class='btn btn-primary' data: data-bs-toggle= 'modal' data-bs-target= '#overtime_form'>Create Ovetime</button>
        <%= render partial: 'layouts/partials/work_form', locals: { model: Work::Regular.new, path: regulars_path, form: 'regular_form' }%>
        <%= render partial: 'layouts/partials/work_form', locals: { model: Work::Overtime.new, path: overtimes_path, form: 'overtime_form' }%>
      </div>
      <%end%>
    <%if @outputs.present?%>
    <table class="table table-success table-striped table-hover align-middle">
    <%# ============ Table Headers ============ %>
      <tr>
        <th rowspan='2'>User ID</th>
        <th rowspan='2'>Date</th>
        <th rowspan='2'>Name</th>
        <th colspan='2'>Regular</th>
        <th colspan='2'>OverTime</th>
        <th rowspan='2'>Remarks 1</th>
        <th rowspan='2'>Remarks 2</th>
      </tr>

      <tr>
        <th>No. of hrs.</th>
        <th>No. of claims</th>
        <th>No. of hrs.</th>
        <th>No. of claims</th>
      </tr>
      <tbody>
      <%# ============ Table Body ============ %>
      <%@outputs.each do |output|%>
        <tr class>
          <td class='table-columns'><%= output.employee.office_num%></td>
          <td class='table-columns'><%= output.date%></td>
          <td class='table-columns'><%= "Lst Name,#{output.employee.first_name}" %></td>
          <td class='table-columns'><%= output.regular_work&.work_hrs%></td>
          <td class='table-columns'><%= output.regular_work&.work_num%></td>
          <td class='table-columns'><%= output.overtime_work&.work_hrs%></td>
          <td class='table-columns'><%= output.overtime_work&.work_num%></td>
          <td class='table-columns'>
            <% if output.remarks_one.present? %>
              <%= output.remarks_one%>
            <%elsif employee_signed_in?%>
              <button class='btn btn-primary' data: data-bs-toggle= 'modal' data-bs-target= '#remarks_one'>Add Remark</button>
              <%= render partial: 'layouts/partials/remark_form', locals: {title: 'Remark No. 1', path: output_path(output.id), form: 'remarks_one' }%>
            <%else%>
              <i>- blank -</i>
            <%end%>
          </td>
          <td class='table-columns'>
            <% if output.remarks_two.present? %>
              <%= output.remarks_two%>
            <%elsif employee_signed_in?%>
              <button class='btn btn-primary' data: data-bs-toggle= 'modal' data-bs-target= '#remarks_two'>Add Remark</button>
              <%= render partial: 'layouts/partials/remark_form', locals: {title: 'Remark No. 2', path: output_path(output.id), form: 'remarks_two' }%>
            <%else%>
              <i>- blank -</i>
            <%end%>
          </td>
        </tr>
      <%end%>
      </tbody>
    </table>
    <%else%>
      <div class='d-flex justify-content-center'>
        <h1>Blank as of <%= @start_date %></h1>
      </div>
    <%end%>
    <%= paginate @outputs%>
  </div>
</section>