<section class = 'd-flex justify-content-center pt-5 container-fluid bg-success bg-opacity-10 min-vh-100'>
  <div class='container-fluid p-5 table-responsive'>
    <h1 class='my-3'>OutPut List</h1>
    <table class="table table-success table-striped table-hover align-middle">
      <tr>
        <th rowspan='2'>User ID</th>
        <th rowspan='2'>Date</th>
        <th rowspan='2'>Name</th>
        <th colspan='2'>Regular</th>
        <th colspan='2'>OverTime</th>
        <th rowspan='2'>Remarks 1</th>
        <th rowspan='2'>Remarks 2</th>
      </tr>

      <tr>
        <th>No. of hrs.</th>
        <th>No. of claims</th>
        <th>No. of hrs.</th>
        <th>No. of claims</th>
      </tr>

      <tbody>
      <%@outputs.each do |output|%>
        <tr class>
          <td class='table-columns'><%= output.employee.office_num%></td>
          <td class='table-columns'><%= output.date%></td>
          <td class='table-columns'><%= "Lst Name,#{output.employee.first_name}" %></td>
          <td class='table-columns'><%= output.regular_work&.work_hrs%></td>
          <td class='table-columns'><%= output.regular_work&.work_num%></td>
          <td class='table-columns'><%= output.overtime_work&.work_hrs%></td>
          <td class='table-columns'><%= output.overtime_work&.work_num%></td>
          <td class='table-columns'><%= output.remarks_one%></td>
          <td class='table-columns'><%= output.remarks_two%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>
</section>